html {
   font-size: calc(60% + 0.8vmin);
}

.container-fulid {
   height: 1000px;
   align-content: center;
   background-repeat: no-repeat;
   justify-content: center;
   margin: 0;
   display: flex;
   background: url(https://images.unsplash.com/photo-1664575602276-acd073f104c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
   background-position: center;
   background-size: cover;
   text-align: center;
   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);}

.banner {
   margin: 5rem 0 0;


  
   max-width: max-content;

}

.banner-info header1 {
   font-size: 6rem;
   color: aliceblue;
   margin: 2rem 0rem 3rem;
  
}
.banner-info h3 {
   font-size: 2rem;
   color: aliceblue;
   margin-top: 4rem;
   margin-bottom:6rem;
}
.banner-info h1 {
   font-size: 3rem;
   color: aliceblue;
   margin-bottom: 1rem;
}

.banner-info h2 {
   font-size: 3rem;
   color: aliceblue;

   margin-bottom: 9rem;
}




button {
   --glow-color: #fff;
   --glow-spread-color: #C1ABAD;
   --enhanced-glow-color: rgb(231, 206, 255);
   --btn-color: #85837B;
   border: .20em solid var(--glow-color);
   padding: 1em 3em;
   color: var(--glow-color);
   font-size: 20px;
   font-weight: bold;
   background-color: var(--btn-color);
   border-radius: 10em;
   outline: none;
   box-shadow: 0 0 1em 0.25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .75em 0em var(--glow-color);

   position: relative;
   transition: all 0.5s;
  }
  
  button::after {
   pointer-events: none;
   content: "";
   position: absolute;
   top: 120%;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--glow-spread-color);
   filter: blur(2em);
   opacity: .7;
   transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  }
  
  button:hover {
   color: var(--btn-color);
   background-color: var(--glow-color);
   box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 2em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  }
  
  button:active {
   box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
  }